<p id="notice"><%= notice %></p>

<p>
  <strong>Subject name:</strong>
  <%= @subject.subject_name %>
</p>

<p>
  <strong>Subject catalog number:</strong>
  <%= @subject.subject_catalog_number %>
</p>

<p>
  <strong>About text:</strong>
  <%= @subject.about_text %>
</p>

<p>
  <strong>Department:</strong>
  <%= @subject.department_id %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
